@charset "utf-8";
:root {
  
    font-size:10px;

    --Main-color-01 :#0174bd;
    --Main-color-02 :#0AA4B4;
    --Main-color-03 :#6ED34A;
    --Sub-01 :#0940A1;
    --Sub-02 :#0C2F80;
    --Sub-03 :#3DB5FF;
    --Sub-04 :#FF5615;
    --Title-color :#202632;
    --Text-01-color :#333D4B;
    --Text-02-color :#4E5968;
    --Text-03-color :#7C8A9F;
    --BG-color :#F5F6F7;
    --Table-color :#E9EEF9;
    --line-color-01 :#CBD5E1;
    --line-color-02 :#7C8A9F;
    --Cell-color :#F6F9FF;
    --Bar-color :#AABFE4;
    --White :#FFF;
    --Black :#000;
}
html {-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}html, body {margin:0;padding:0;}div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;box-sizing:border-box;}body {font-weight:300;font-size:1.2rem;color:var(--Text-01-color);font-family:'Noto Sans KR', sans-serif;}table {width:100%;border:0;border-spacing:0;border-collapse:collapse;}table caption, form legend {visibility:hidden;width:0;height:0;line-height:0;font-size:0;}button::-moz-focus-inner {padding:0;border:0;}button, input[type=submit], input[type=reset], input[type=button] {overflow:visible;margin:0;padding:0;cursor:pointer;border:0;background:transparent;outline:none;}input[type=checkbox] {-webkit-appearance:checkbox;}input[type=image] {vertical-align:top;}input, select, textarea, button {font-family:'Noto Sans KR', sans-serif;font-size:1.2rem;border-radius:0;outline:none;}ol, li {list-style:none;}
img, fieldset {border:none;vertical-align:top;}
hr {display:none;}
i, em, address, cite {font-style:normal;}
strong {font-weight:700;}
a {color:var(--Text-01-color);outline:none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:none;}
a:active {text-decoration:none;}
/* form */
form {display:block;border:none;}
fieldset {margin:0;padding:0;border:none;}
input {padding-top:.2rem;vertical-align:middle;border:none;}
input[type~="text"] {padding:0 1.6rem;width:100%;height:5rem;font-size:1.6rem;font-weight:300;color:var(--Text-02-color);border:1px solid var(--line-color-01);border-radius:1rem;}
input[type~="number"] {padding:0 1.6rem;width:100%;height:5rem;font-size:1.6rem;font-weight:300;color:var(--Text-02-color);border:1px solid var(--line-color-01);border-radius:1rem;}
input[type~="number"]::-webkit-outer-spin-button, 
input[type~="number"]::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
input[type~="password"] {padding:0 1.6rem;width:100%;height:5rem;font-size:1.6rem;font-weight:300;color:var(--Text-02-color);border:1px solid var(--line-color-01);border-radius:1rem;}
input[type~="file"] {border:1px solid var(--line-color-01);}
input[type~="checkbox"] {border:none;margin:-.1rem 0;}
input[type~="radio"] {border:none;margin:-.1rem 0;}
select {font-size:1.6rem;vertical-align:middle;}
textarea {padding:1.6rem 1.6rem;box-sizing:border-box;width:100%;height:48rem;font-size:1.6rem;font-weight:300;color:var(--Text-02-color);border:1px solid var(--line-color-01);border-radius:1rem;}
.input-select {display:inline-block;margin:0;padding:0;min-width:13rem;box-sizing:border-box;vertical-align:middle;font-size:1.6rem;font-weight:300;color:var(--Text-02-color);border:1px solid var(--line-color-01);border-radius:1rem;position:relative;height:5rem;background:var(--White);}
.input-select:after {content:'';position:absolute;right:1.2rem;top:50%;z-index:1;margin-top:-.3rem;width:.9rem;height:.5rem;background:url(../images/icon_arrow_select.svg) 0 0 no-repeat;background-size:100%;}
.input-select select {display:inline-block;position:relative;z-index:1;width:100%;box-sizing:border-box;padding:0 6rem 0 1rem;border:0;height:4.8rem;background:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;color:var(--Text-01-color);font-size:1.6rem;cursor:pointer;outline:none;vertical-align:middle;}
.input-select select::-ms-expand {display:none;}
.input-text {display:inline-block;vertical-align:middle;}
.input-text input {display:block;width:100%;height:3.4rem;text-indent:1rem;line-height:3.6rem;border:1px solid var(--line-color-01);}
.input-password {display:inline-block;vertical-align:middle;}
.input-password input {display:block;width:100%;height:3.4rem;text-indent:1rem;line-height:3.6rem;border:1px solid var(--line-color-01);}
.input-file {display:inline-block;vertical-align:middle;}
.input-file input {display:block;width:100%;height:3.4rem;text-indent:1em;line-height:3.6rem;border:1px solid var(--line-color-01);}
.input-checkbox {display:inline-block;overflow:hidden;position:relative;vertical-align:middle;min-width:3rem;line-height:3rem;margin:0 4rem 0 0;padding:0 0 0 4rem;font-size:1.8rem;font-weight:normal;}
.input-checkbox input[type='checkbox'] {position:absolute;left:-100rem;top:0;display:inline-block;margin:-.4rem 0 0 0;width:3rem;height:3rem;}
.input-checkbox::before {content:'';display:block;position:absolute;left:0;top:0;width:3rem;height:3rem;border:1px solid var(--Text-03-color);border-radius:.4rem;box-sizing: border-box;}
.input-checkbox:has(:checked)::before {content:'';background:var(--Main-color-01) url(../images/img_checkbox_checked.png) no-repeat 50%;;}

.input-radio {display:inline-block;overflow:hidden;position:relative;vertical-align:middle;min-width:3rem;line-height:3rem;margin:0 4rem 0 0;padding:0 0 0 4rem;font-size:1.8rem;font-weight:normal;}
.input-radio input[type='radio'] {position:absolute;left:-100rem;top:0;margin:-.1rem 0 0 0;width:3rem;height:3rem;}
.input-radio::before {content:'';display:block;position:absolute;left:0;top:0;width:3rem;height:3rem;border-radius: 100%;border:1px solid var(--Text-03-color);background:#fff;box-sizing: border-box;}
.input-radio:has(:checked)::before {content:'';background:#fff url(../images/img_radio_checked.png) no-repeat 50%;;}

/* Link Style */
a {color:var(--Text-01-color);text-decoration:none;}

/* Layout */
.area-header {position:absolute;left:0;top:0;width:100%;min-width:149.5rem;overflow:hidden;z-index:10;}
.area-header::before {content:'';display:block;position:absolute;left:0;top:10.1rem;width:100%;height:1px;background-color:var(--line-color-01);}
.area-header .area-inner {position:relative;display:flex;justify-content:flex-end;align-items:flex-start;margin:0 auto;width:129rem;height:10rem;}
.area-header .logo {position:absolute;left:0;top:1.4rem;width:28.4rem;height:7.3rem;overflow:hidden;background:url(../images/img_logo_header.png) no-repeat 0 50%;}
.area-header .logo a {display:flex;align-items:center;position:absolute;left:0;top:0;padding:0 0 0 13.4rem;width:100%;height:100%;font-size:2.4rem;font-weight:700;letter-spacing:-0.056rem;color:var(--White);box-sizing:border-box;}
.area-header .box-util-join {display:flex;gap:2.4rem;margin-left:-3rem;margin-top:3.3rem;}
.area-header .box-util-join .btn-join {display:flex;justify-content:center;align-items:center;gap:.5rem;height:3.8rem;color:var(--White);font-size:1.5rem;font-weight:500;letter-spacing:-0.03rem;}
.area-header .box-util-join .btn-join::before {content:'';display:inline-block;width:1.3rem;height:1.3rem;background-color:var(--White);mask-image:url(../images/icon_join_header.svg);mask-repeat:no-repeat;mask-position:50%;}
.area-header .box-util-join .btn-scrap {display:flex;justify-content:center;align-items:center;gap:.5rem;height:3.8rem;color:var(--White);font-size:1.5rem;font-weight:500;letter-spacing:-0.03rem;}
.area-header .box-util-join .btn-scrap::before {content:'';display:inline-block;width:1.2rem;height:1.5rem;background-color:var(--White);mask-image:url(../images/icon_scrap_header.svg);mask-repeat:no-repeat;mask-position:50%;}
.area-header .box-util-login {display:flex;gap:2.4rem;margin-left:2.4rem;margin-top:3.3rem;}
.area-header .box-util-login .btn-login {display:flex;justify-content:center;align-items:center;width:7.4rem;height:3.8rem;font-size:1.6rem;font-weight:500;color:var(--Main-color-01);background-color:var(--White);border-radius:1.2rem;}
.area-header .box-util-login .btn-sitemap {position:relative;display:flex;justify-content:center;align-items:center;width:3.8rem;height:3.8rem;overflow:hidden;text-indent:-100rem;background-color:transparent;border-radius:1.2rem;}
.area-header .box-util-login .btn-sitemap::before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-color:var(--White);mask-image:url(../images/icon_sitemap_header.svg);mask-repeat:no-repeat;mask-position:50%;}

.area-header.on {background:var(--White);}
.area-header.on .area-inner {height:37.7rem;}
.area-header.on .logo a {color:var(--Main-color-01);}
.area-header.on .navigation-global >ul >li >span a {color:var(--Title-color);}
.area-header.on .box-util-join .btn-join {color:var(--Text-02-color);}
.area-header.on .box-util-join .btn-join::before {background-color:var(--Main-color-01)}
.area-header.on .box-util-join .btn-scrap {color:var(--Text-02-color);}
.area-header.on .box-util-join .btn-scrap::before {background-color:var(--Main-color-01)}
.area-header.on .box-util-login .btn-login {color:var(--White);background-color:var(--Main-color-01);}
.area-header.on .box-util-login .btn-sitemap {background-color:var(--Main-color-01);}


.navigation-global {margin-top:3.7rem;}
.navigation-global >ul {display:flex;gap:2.4rem;}
.navigation-global >ul >li {position:relative;}
.navigation-global >ul >li >span {display:block;}
.navigation-global >ul >li >span a {white-space:nowrap;font-size:1.8rem;font-weight:600;color:var(--White);letter-spacing:-0.04rem;}
.navigation-global >ul >li >ul {display:flex;flex-direction:column;gap:1.8rem;margin-top:4.8rem;width:100%;}
.navigation-global >ul >li >ul >li {}
.navigation-global >ul >li >ul >li >a {display:block;font-size:1.8rem;font-weight:500;color:var(--Text-02-color);}

.area-footer {}
.area-footer .area-inner {position:relative;margin:0 auto;padding:2rem 0;width:129rem;}
.area-footer .contain-link-service {display:flex;justify-content:space-between;align-items:center;padding:2rem .9rem;border-bottom:1px solid var(--line-color-01);}
.area-footer .contain-link-service ul {display:flex;gap:2.6rem;}
.area-footer .contain-link-service ul li {}
.area-footer .contain-link-service ul li a {display:block;font-size:1.5rem;font-weight:500;color:var(--Text-02-color);}
.area-footer .contain-link-service ul li:first-child a {color:var(--Main-color-01);}
.area-footer .contain-link-service .btn-serviceall {margin:1.4rem 0 0;}
.area-footer .contain-link-service .btn-serviceall a {display:flex;font-size:1.5rem;font-weight:500;color:var(--Text-02-color);}
.area-footer .contain-link-service .btn-serviceall a strong {font-weight:500;color:var(--Black);}
.area-footer .contain-link-service .btn-serviceall a::after {content:'';display:block;margin-left:2rem;width:2.8rem;height:2.4rem;background-color:var(--Black);mask-image:url(../images/icon_arrow_sitemap.svg);mask-repeat:no-repeat;mask-position:50%;}
.area-footer .info-callcenter {display:flex;margin:3rem 0;padding:0 .9rem;font-size:1.5rem;color:var(--Text-02-color);}
.area-footer .info-callcenter strong {font-weight:500;}
.area-footer .info-callcenter .tel {margin-left:0.5rem;font-weight:400;}
.area-footer .info-callcenter .fax {margin-left:2rem;font-weight:400;}
.area-footer .text-address {padding:0 .9rem;font-size:1.5rem;font-weight:500;color:var(--Text-02-color);}
.area-footer .text-copyright {margin-top:0.9rem;padding:0 .9rem;font-size:1.4rem;font-weight:500;color:var(--Text-03-color);}

.area-visual-sub {background:var(--Main-color-01);}
.area-visual-sub .area-inner {position:relative;margin:0 auto;width:149.5rem;height:28rem;background-image:url(../images/bg_visual_sub.png);background-repeat:no-repeat;background-position:right 0 top 11.2rem;}
.area-visual-sub .title {position:absolute;left:10rem;top:17rem;font-size:3.6rem;font-weight:700;line-height:5rem;letter-spacing:-0.036rem;color:var(--White);}

.navigation-local {background:var(--Main-color-01);}
.navigation-local >ul {display:flex;;margin:0 auto;width:129rem;overflow:auto;-ms-overflow-style: none;}
.navigation-local >ul::-webkit-scrollbar{display:none;}
.navigation-local >ul li {}
.navigation-local >ul li a {display:flex;justify-content:center;align-items:center;white-space:nowrap;padding:0 4.2rem 0 2.9rem;height:7rem;font-size:2rem;font-weight:500;color:var(--White);}
.navigation-local >ul li a::before {content:'';display:inline-block;margin-right:1rem;width:.4rem;height:.4rem;border-radius:100%;background-color:var(--White);}
.navigation-local >ul li.on a {color:var(--Title-color);background:var(--White);}
.navigation-local >ul li.on a::before {content:'';background:var(--Title-color);}

.layer-sitemap {display:none;position:fixed;left:0;top:0;z-index:10;width:100%;height:100%;overflow:auto;background:var(--Main-color-01);}
.layer-sitemap.on {display:block;}
.layer-sitemap .sitemap {display:flex;justify-content:center;}
.layer-sitemap .sitemap >ul {display:flex;justify-content:center;}
.layer-sitemap .sitemap >ul >li {position:relative;padding:4.3rem 3.3rem 5rem;box-sizing: border-box;width:25.8rem;;border-right:1px solid rgba(255, 255, 255, 0.20);}
.layer-sitemap .sitemap >ul >li:first-child {border-left:1px solid rgba(255, 255, 255, 0.20);}
.layer-sitemap .sitemap >ul >li >span {display:block;}
.layer-sitemap .sitemap >ul >li >span a {white-space:nowrap;font-size:2rem;font-weight:600;color:var(--White);letter-spacing:-0.04rem;}
.layer-sitemap .sitemap >ul >li >ul {display:flex;flex-direction:column;gap:1.8rem;margin-top:4.8rem;width:100%;}
.layer-sitemap .sitemap >ul >li >ul >li {}
.layer-sitemap .sitemap >ul >li >ul >li >a {display:block;font-size:1.8rem;font-weight:500;color:rgba(255, 255, 255, 0.80);}
.layer-sitemap .btn-close-sitemap {position:absolute;right:3.6rem;top:3.8rem;width:3.2rem;height:3.2rem;text-indent:-100rem;background-color:var(--White);mask-image:url(../images/icon_close_layer.svg);mask-repeat:no-repeat;mask-position:50%;}

.area-content {}
.area-content .area-inner {margin:0 auto;padding:7.2rem 0;width:129rem;}

h4.title {margin-bottom:2rem;font-size:2.4rem;font-weight:500;letter-spacing:-0.096rem;}
h4.title.type1 {margin-bottom:4rem;text-align:center;font-size:3.6rem;font-weight:500;letter-spacing:-0.144rem;color:var(--Main-color-01);}
h5.title {margin-bottom:1.2rem;font-size:2.4rem;font-weight:500;letter-spacing:-0.096rem;color:var(--Title-color)}

.contain-step {display:flex;justify-content: space-between;align-items:center;margin-bottom:3.3rem;}
.contain-step .box-step {display:flex;flex-direction:column;justify-content: center;align-items:center;gap:1.6rem;width:100%;height:14.8rem;background:var(--Cell-color);border-radius:1rem;border:1px solid var(--Cell-color);}
.contain-step .box-step.on {border-color:var(--Main-color-01);}
.contain-step .box-step .item-step {display:flex;justify-content:center;align-items:center;width:14.2rem;height:3.4rem;line-height:100%;font-size:2rem;font-weight:700;letter-spacing:-0.08rem;color:var(--White);background:var(--Main-color-01);border-radius: 4rem;}
.contain-step .box-step.on .item-step {background:var(--Sub-01);} 
.contain-step .box-step .item-text {display:block;width:100%;font-size:2.2rem;font-weight:400;letter-spacing:-0.088rem;color:var(--Title-color);text-align:center;}
.contain-step .arrow {flex-shrink:0;margin:0 1.6rem;width:1.8rem;height:1.8rem;background:red;}

.header-content {display:flex;justify-content:space-between;margin-bottom:6rem;padding-bottom:2.2rem;border-bottom:1px solid var(--line-color-01);}
.header-content .title {font-size:32px;font-weight:500;letter-spacing:-.128rem;color:var(--Title-color);}
.header-content .box-util {position:relative;display:flex;align-items:center;}
.header-content .box-util::after {content:'';display:block;position:absolute;right:4.6rem;top:1.3rem;width:1px;height:20px;background:var(--line-color-01);}
.header-content .box-util a, .header-content .box-util button {display:block;width:2.8rem;height:2.8rem;overflow:hidden;text-indent:-100rem;}
.header-content .box-util .btn-home {margin-right:2.5rem;background-color:var(--Text-02-color);mask-image:url(../images/icon_home.svg);mask-repeat:no-repeat;mask-position:50%;flex-shrink:0;}
.header-content .box-util .btn-share {margin-left:3rem;background-color:var(--Text-02-color);mask-image:url(../images/icon_share.svg);mask-repeat:no-repeat;mask-position:50%;flex-shrink:0;}
.header-content .box-util .btn-print {margin-left:3.5rem;background-color:var(--Text-02-color);mask-image:url(../images/icon_print.svg);mask-repeat:no-repeat;mask-position:50%;flex-shrink:0;}
.header-content .box-util .box-fontsize {display:flex;align-items:center;flex-shrink:0;}
.header-content .box-util .box-fontsize .label {display:flex;align-items:center;margin-right:1.9rem;font-size:1.6rem;font-weight:500;color:var(--Text-02-color);flex-shrink:0;}
.header-content .box-util .box-fontsize .label::before {content:'';display:inline-block;margin-right:1rem;width:.4rem;height:.4rem;border-radius:100%;background-color:var(--Text-02-color);}
.header-content .box-util .box-fontsize .btn-fontbig {position:relative;margin-right:2.2rem;background-color:#E4E9F4;border-radius:100%;flex-shrink:0;}
.header-content .box-util .box-fontsize .btn-fontbig::before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-color:var(--Text-02-color);mask-image:url(../images/icon_fontbig.svg);mask-repeat:no-repeat;mask-position:50%;}
.header-content .box-util .box-fontsize .btn-fontsmall {position:relative;background-color:#E4E9F4;border-radius:100%;flex-shrink:0;}
.header-content .box-util .box-fontsize .btn-fontsmall::before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-color:var(--Text-02-color);mask-image:url(../images/icon_fontsmall.svg);mask-repeat:no-repeat;mask-position:50%;}

.box-infor-type1 {position:relative;margin-bottom:3rem;padding:1.8rem 4rem;font-size:2rem;font-weight:400;letter-spacing:-0.08rem;background-color:var(--Cell-color);border-radius: 1rem;}
.box-infor-type1 .title {margin-bottom:.4rem;font-size:2.4rem;}
.box-infor-type1 strong {color:var(--Sub-04);font-weight:normal;}
.box-infor-type1 em {font-style:normal;color:var(--Main-color-01);}
.box-infor-type1 .btn-type1 {position:absolute;right:4rem;top:50%;margin:-2.5rem 0 0 0;padding:0 3rem;}
.box-infor-type1.browser-infor {text-align:center;}
.box-infor-type1.browser-infor a::after {content:'';display:inline-block;margin-bottom:-.1rem;margin-left:1.1rem;width:1.8rem;height:1.8rem;background:red;}

.box-compjoin {margin-bottom:5.6rem;padding:8rem 0;border-top:1px solid var(--line-color-01);border-bottom:1px solid var(--line-color-01);}
.box-compjoin .title {margin-bottom:2.7rem;font-size:4rem;}
.box-compjoin .text {text-align:center;font-size:2rem;font-weight:400;color:var(--Title-color);letter-spacing: -0.08rem;}
.box-compjoin .text strong {color:var(--Main-color-01);}

.contain-option-search {display:flex;margin-bottom:4rem;justify-content:space-between;padding:2.8rem 3.3rem;background:var(--Cell-color);border-radius:1rem;}
.contain-option-search .box-option {display:flex;gap:.9rem;}
.contain-option-search .box-option p {display:flex;align-items:center;font-weight:500;color:var(--Text-01-color);font-size:1.8rem;}
.contain-option-search .box-search {display:flex;gap:.9rem;}

.box-board-head {padding:0 4rem 2.4rem;}
.box-board-head > p {font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Text-02-color);text-align:right;}
.box-board-head > p strong {font-weight:normal;color:var(--Main-color-01);}

.table-type1 {display:table;width:100%;border-collapse:collapse;border-top:2px solid var(--Black);}
.table-type1 .thead {display:table-header-group;}
.table-type1 .thead .tr {display:table-row;}
.table-type1 .thead .tr >div {display:table-cell;padding:2.5rem 1rem 1.9rem;box-sizing:border-box;height:7rem;text-align:center;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;border-bottom:1px solid var(--line-color-01);background-color:var(--Cell-color)}
.table-type1 .tbody {display:table-row-group;}
.table-type1 .tbody .tr {display:table-row;border-bottom:1px solid var(--line-color-01);}
.table-type1 .tbody .tr >div {display:table-cell;padding:2.3rem 1rem 2.1rem;box-sizing:border-box;height:7rem;text-align:center;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;background-color:var(--White);}
.table-type1 .tbody .tr .title {padding-left:2rem;text-align:left;}
.table-type1 {display:table;width:100%;border-collapse:collapse;border-top:2px solid var(--Black);}
.table-type1 .thead {display:table-header-group;}
.table-type1 .thead .tr {display:table-row;}
.table-type1 .thead .tr >div {display:table-cell;padding:2.5rem 1rem 1.9rem;box-sizing:border-box;height:7rem;text-align:center;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;border-bottom:1px solid var(--line-color-01);background-color:var(--Cell-color)}
.table-type1 .tbody {display:table-row-group;}
.table-type1 .tbody .tr {display:table-row;}
.table-type1 .tbody .tr >div {display:table-cell;padding:2.3rem 1rem 2.1rem;box-sizing:border-box;height:7rem;text-align:center;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;background-color:var(--White);}
.table-type1 .tbody .tr .title {padding-left:2rem;text-align:left;}
.table-type1 .attached {display:inline-flex;gap:0.7rem;vertical-align:bottom;margin-left:2.3rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.table-type1 .attached::before {content:'';display:block;width:2.2rem;height:2.7rem;background-color:var(--Main-color-01);mask-image:url(../images/icon_attachfile.svg);mask-repeat:no-repeat;mask-position:50%;}
.table-type1 .icon-lock {position:relative;display:inline-block;width:3rem;height:3rem;overflow:hidden;vertical-align:bottom;text-indent:-100rem;}
.table-type1 .icon-lock::before {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:var(--Main-color-01);mask-image:url(../images/icon_lock.svg);mask-repeat:no-repeat;mask-position:50%;}


.table-type2 {display:table;width:100%;border-collapse:collapse;border-top:2px solid #000;}
.table-type2 .tr {display:table-row-group;}
.table-type2 .th {display:table-cell;vertical-align:top;padding:1.8rem 0 1.8rem 5rem;width:24rem;min-height:6.2rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);border-bottom:1px solid var(--line-color-01);border-right:1px solid var(--line-color-01);}
.table-type2 .td {display:table-cell;vertical-align:middle;padding:.6rem 0 .6rem 5rem;min-height:6.2rem;font-size:1.6rem;font-weight:300;color:var(--Text-02-color);border-bottom:1px solid var(--line-color-01);}

div[class^='table-type'] .col-1 {width:5%;}
div[class^='table-type'] .col-2 {width:10%;}
div[class^='table-type'] .col-3 {width:15%;}
div[class^='table-type'] .col-4 {width:20%;}
div[class^='table-type'] .col-5 {width:25%;}
div[class^='table-type'] .col-6 {width:30%;}
div[class^='table-type'] .col-7 {width:35%;}
div[class^='table-type'] .col-8 {width:40%;}
div[class^='table-type'] .col-9 {width:45%;}
div[class^='table-type'] .col-10 {width:50%;}
div[class^='table-type'] .col-11 {width:75%;}

.paginate {display:flex;justify-content:center;gap:1.5rem;margin-top:4.2rem;}
.paginate a {display:inline-flex;justify-content:center;align-items:center;width:3rem;height:3rem;font-size:1.6rem;font-weight:400;letter-spacing:-0.064rem;background-color:var(--BG-color);}
.paginate span {display:flex;justify-content:center;gap:.8rem;margin:0 1rem;}
.paginate a.btn-paging-first {overflow:hidden;text-indent:-100rem;background-color:var(--Text-02-color);mask-image:url(../images/btn_paging_first.svg);mask-repeat:no-repeat;mask-position:50%;}
.paginate a.btn-paging-prev {overflow:hidden;text-indent:-100rem;background-color:var(--Text-02-color);mask-image:url(../images/btn_paging_prev.svg);mask-repeat:no-repeat;mask-position:50%;}
.paginate a.btn-paging-next {overflow:hidden;text-indent:-100rem;background-color:var(--Text-02-color);mask-image:url(../images/btn_paging_next.svg);mask-repeat:no-repeat;mask-position:50%;}
.paginate a.btn-paging-last {overflow:hidden;text-indent:-100rem;background-color:var(--Text-02-color);mask-image:url(../images/btn_paging_last.svg);mask-repeat:no-repeat;mask-position:50%;}

.board-view {border-top:2px solid var(--Black);border-bottom:2px solid var(--Black);}
.board-view .group-head {display:flex;justify-content:flex-end;align-items:center;gap:3rem;padding:2.2rem .9rem;border-bottom:1px solid var(--line-color-01);}
.board-view .group-head .title {flex-shrink:1;margin:auto;width:100%;font-size:2.4rem;font-weight:400;letter-spacing:-0.096rem;color:var(--Title-color );}
.board-view .group-head .writer {flex-shrink:0;padding:0 1.5rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color );}
.board-view .group-head .date {flex-shrink:0;padding:0 1.5rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color );}
.board-view .group-head .hit {flex-shrink:0;padding:0 1.5rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color );}
.board-view .group-detail {display:flex;padding:2.1rem .9rem;border-bottom:1px solid var(--line-color-01);}
.board-view .group-detail .state {display:flex;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.board-view .group-detail .state .label {min-width:5rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.board-view .group-body {margin-bottom:5rem;padding:3.4rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;;color:var(--Title-color);}
.board-view .group-body.faq {padding:0;}
.board-view .group-attach {display:flex;align-items:center;padding:2.4rem 3rem;background:var(--Cell-color);border-radius:1rem;}
.board-view .group-attach .label {width:12rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.board-view .group-attach .list-files {display:flex;flex-direction:column;gap:1.4rem;}
.board-view .group-attach .list-files a {display:flex;align-items:flex-start;gap:1rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.board-view .group-attach .list-files a::before {content:'';display:block;flex-shrink: 0;margin-top:0.2rem;width:2.2rem;height:2.7rem;background-color:var(--Main-color-01);mask-image:url(../images/icon_attachfile.svg);mask-repeat:no-repeat;mask-position:50%;}
.board-view .group-linktopic {margin-top:4.5rem;}
.board-view .group-linktopic .item {display:flex;gap:2.5rem;align-items:center;padding:2.2rem;border-top:1px solid var(--line-color-01);}
.board-view .group-linktopic .item .label {display:flex;align-items:center;gap:2rem;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.board-view .group-linktopic .item .label.prev::after {content:'';display:block;width:2.4rem;height:2.4rem;background-color:var(--Black);mask-image:url(../images/icon_arrow_up.svg);mask-repeat:no-repeat;mask-position:50%;}
.board-view .group-linktopic .item .label.next::after {content:'';display:block;width:2.4rem;height:2.4rem;background-color:var(--Black);mask-image:url(../images/icon_arrow_down.svg);mask-repeat:no-repeat;mask-position:50%;}
.board-view .group-linktopic .item a {font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}

.head-group {margin-bottom:4rem;padding-bottom:1.8rem;border-bottom:1px solid var(--line-color-01);}
.head-group .title {margin-bottom:1.4rem;font-size:3.2rem;font-weight:500;text-align:center;letter-spacing: -0.128rem;}
.head-group .text {font-size:2rem;font-weight:500;text-align:center;letter-spacing: -0.08rem;}

.box-selectmember {display:flex;justify-content: center;gap:1.3rem;flex-wrap:wrap;margin-bottom:7.5rem;}
.box-selectmember label {position:relative;display:flex;justify-content:center;align-items:flex-end;padding:2.2rem;text-align:center;box-sizing:border-box;width:21.4rem;height:21.4rem;border-radius:10px;font-size:2rem;color:var(--Title-color);cursor:pointer;font-weight:500;letter-spacing:-0.08rem;;background:var(--Cell-color);}
.box-selectmember label i {display:flex;justify-content:center;align-items:center;height:6rem;}
.box-selectmember input {position:absolute;left:-100rem;top:0;}
.box-selectmember label:has(:checked) {background:var(--Main-color-01);color:var(--White);}
.box-selectmember label::before {content:'';position:absolute;left:0;top:6rem;width:100%;height:6rem;background-color:var(--Title-color);mask-image:url(../images/icon_member1.svg);mask-repeat:no-repeat;mask-position:50%;}
.box-selectmember label + label::before {content:'';mask-image:url(../images/icon_member2.svg);}
.box-selectmember label + label + label::before {content:'';mask-image:url(../images/icon_member3.svg);}
.box-selectmember label + label + label + label::before {content:'';mask-image:url(../images/icon_member4.svg);}
.box-selectmember label:has(:checked)::before {content:'';background-color:var(--White);}

.box-agreement {margin-bottom:2.4rem;width:100%;height:28.4rem;overflow:hidden;border:1px solid var(--line-color-01);}
.box-agreement .box-inner {padding:1.5rem 2.4rem;font-size:1.6rem;font-weight:300;;color:var(--Text-02-color)}

.box-checkagree {margin-top:5.5rem;margin-bottom:5rem;text-align:center;}
.box-checkagree .text {margin-bottom:3.8rem;font-size:1.8rem;font-weight:500;letter-spacing:-0.072rem;color:var(--Main-color-01);}


.login {}
.login .head {margin-bottom:4rem;padding-bottom:1.8rem;border-bottom:1px solid var(--line-color-01);}
.login .head .title {margin-bottom:1.4rem;font-size:3.2rem;font-weight:500;text-align:center;letter-spacing: -0.128rem;}
.login .head .text {font-size:2rem;font-weight:500;text-align:center;letter-spacing: -0.08rem;}
.login .box-text-infor {margin-bottom:4rem;padding-bottom:3.4rem;border-bottom:1px solid var(--line-color-01);}
.login .box-text-infor li {text-align:center;font-size:2rem;font-weight:400;letter-spacing:-0.08rem;color:var(--Title-color);}
.login .box-selectmember {display:flex;justify-content: center;gap:1.3rem;flex-wrap:wrap;margin-bottom:7.5rem;}
.login .box-selectmember label {position:relative;display:flex;justify-content:center;align-items:flex-end;padding:2.2rem;text-align:center;box-sizing:border-box;width:21.4rem;height:21.4rem;border-radius:10px;font-size:2rem;color:var(--Title-color);cursor:pointer;font-weight:500;letter-spacing:-0.08rem;;background:var(--Cell-color);}
.login .box-selectmember label i {display:flex;justify-content:center;align-items:center;height:6rem;}
.login .box-selectmember input {position:absolute;left:-100rem;top:0;}
.login .box-selectmember label:has(:checked) {background:var(--Main-color-01);color:var(--White);}
.login .box-selectmember label::before {content:'';position:absolute;left:0;top:6rem;width:100%;height:6rem;background-color:var(--Title-color);mask-image:url(../images/icon_member1.svg);mask-repeat:no-repeat;mask-position:50%;}
.login .box-selectmember label + label::before {content:'';mask-image:url(../images/icon_member2.svg);}
.login .box-selectmember label + label + label::before {content:'';mask-image:url(../images/icon_member3.svg);}
.login .box-selectmember label + label + label + label::before {content:'';mask-image:url(../images/icon_member4.svg);}
.login .box-selectmember label:has(:checked)::before {content:'';background-color:var(--White);}
.login .box-login {display:flex;width:710px;gap:10px;margin:0 auto;padding-bottom:4.5rem;}
.login .box-login label {width:100%;font-size:3.2rem;letter-spacing: -0.128rem;font-weight:500;color:var(--Title-color);}
.login .box-login label strong {display:block;font-size:4rem;color:var(--Main-color-01);letter-spacing: -0.16rem;}
.login .box-login .box-input {display: flex;flex-direction:column;gap:1.2rem;flex-shrink:0;}
.login .box-login .input-id {width:27.8rem;}
.login .box-login .input-password{width:27.8rem;}
.login .box-login .btn-login {display:flex;justify-content:center;align-items:center;flex-shrink:0;width:14.8rem;font-size:1.8rem;font-weight:600;color:var(--White);border-radius:6px;background:var(--Main-color-01);}
.login .box-util {display:flex;gap:6.2rem;justify-content:center;padding:4.8rem 0 3.3rem;border-top:1px solid var(--line-color-01);border-bottom:1px solid var(--line-color-01);}
.login .box-util .item {display:flex;flex-direction:column;}
.login .box-util .item .text {margin-bottom:1.2rem;font-size:2rem;font-weight:400;letter-spacing:-0.08rem;}
.login .box-util .item .btn-type1 {padding:0 3rem;width:max-content;min-width:auto;}
.login .box-util .item .text-infor {margin-top:2.3rem;font-size:2rem;font-weight:500;letter-spacing:-0.08rem;color:var(--Title-color);}
.login .box-util .item .text-infor >span {color:var(--Main-color-02)}

.join {}
.join .head {margin-bottom:4rem;padding-bottom:1.8rem;border-bottom:1px solid var(--line-color-01);}
.join .head .title {margin-bottom:1.4rem;font-size:3.2rem;font-weight:500;text-align:center;letter-spacing: -0.128rem;}
.join .head .text {font-size:2rem;font-weight:500;text-align:center;letter-spacing: -0.08rem;}
.join .box-text-infor {margin-bottom:4rem;}
.join .box-text-infor .text-type1 {text-align:center;font-size:3.6rem;font-weight:400;letter-spacing:-0.08rem;color:var(--Title-color);}
.join .box-text-infor .text-type1 strong {color:var(--Main-color-01);}
.join .box-text-infor .text-type2 {text-align:center;font-size:2rem;font-weight:400;letter-spacing:-0.08rem;color:var(--Title-color);}
.join .box-selectmember {display:flex;justify-content: center;gap:4rem;flex-wrap:wrap;margin-bottom:7.5rem;}
.join .box-selectmember .item p {width:21.4rem;font-size:2rem;font-weight:400;letter-spacing:-0.08rem;color:var(--Title-color);text-align:center;margin-top:2rem;}
.join .box-selectmember label {position:relative;display:flex;justify-content:center;align-items:flex-end;padding:2.2rem;text-align:center;box-sizing:border-box;width:21.4rem;height:21.4rem;border-radius:10px;font-size:2rem;color:var(--Title-color);cursor:pointer;font-weight:500;letter-spacing:-0.08rem;;background:var(--Cell-color);}
.join .box-selectmember label i {display:flex;justify-content:center;align-items:center;height:6rem;}
.join .box-selectmember input {position:absolute;left:-100rem;top:0;}
.join .box-selectmember label:has(:checked) {background:var(--Main-color-01);color:var(--White);}
.join .box-selectmember label::before {content:'';position:absolute;left:0;top:6rem;width:100%;height:6rem;background-color:var(--Title-color);mask-image:url(../images/icon_member1.svg);mask-repeat:no-repeat;mask-position:50%;}
.join .box-selectmember label + label::before {content:'';mask-image:url(../images/icon_member2.svg);}
.join .box-selectmember label + label + label::before {content:'';mask-image:url(../images/icon_member3.svg);}
.join .box-selectmember label + label + label + label::before {content:'';mask-image:url(../images/icon_member4.svg);}
.join .box-selectmember label:has(:checked)::before {content:'';background-color:var(--White);}

.find-idpass {}
.find-idpass .head {margin-bottom:4rem;padding-bottom:1.8rem;border-bottom:1px solid var(--line-color-01);}
.find-idpass .head .title {margin-bottom:1.4rem;font-size:3.2rem;font-weight:500;text-align:center;letter-spacing: -0.128rem;}
.find-idpass .head .text {font-size:2rem;font-weight:500;text-align:center;letter-spacing: -0.08rem;}
.find-idpass .box-selectmember {display:flex;justify-content: center;gap:4rem;flex-wrap:wrap;margin-bottom:7.5rem;}
.find-idpass .box-selectmember .item p {width:21.4rem;font-size:2rem;font-weight:400;letter-spacing:-0.08rem;color:var(--Title-color);text-align:center;margin-top:2rem;}
.find-idpass .box-selectmember label {position:relative;display:flex;justify-content:center;align-items:flex-end;padding:2.2rem;text-align:center;box-sizing:border-box;width:21.4rem;height:21.4rem;border-radius:10px;font-size:2rem;color:var(--Title-color);cursor:pointer;font-weight:500;letter-spacing:-0.08rem;;background:var(--Cell-color);}
.find-idpass .box-selectmember label i {display:flex;justify-content:center;align-items:center;height:6rem;}
.find-idpass .box-selectmember input {position:absolute;left:-100rem;top:0;}
.find-idpass .box-selectmember label:has(:checked) {background:var(--Main-color-01);color:var(--White);}
.find-idpass .box-selectmember label::before {content:'';position:absolute;left:0;top:6rem;width:100%;height:6rem;background-color:var(--Title-color);mask-image:url(../images/icon_member1.svg);mask-repeat:no-repeat;mask-position:50%;}
.find-idpass .box-selectmember label + label::before {content:'';mask-image:url(../images/icon_member2.svg);}
.find-idpass .box-selectmember label + label + label::before {content:'';mask-image:url(../images/icon_member3.svg);}
.find-idpass .box-selectmember label + label + label + label::before {content:'';mask-image:url(../images/icon_member4.svg);}
.find-idpass .box-selectmember label:has(:checked)::before {content:'';background-color:var(--White);}
.find-idpass .box-login {display:flex;width:710px;gap:10px;margin:0 auto;padding-bottom:4.5rem;}
.find-idpass .box-login label {width:100%;font-size:3.2rem;letter-spacing: -0.128rem;font-weight:500;color:var(--Title-color);}
.find-idpass .box-login label strong {display:block;font-size:4rem;color:var(--Main-color-01);letter-spacing: -0.16rem;}
.find-idpass .box-login .box-input {display: flex;flex-direction:column;gap:1.2rem;flex-shrink:0;}
.find-idpass .box-login .input-id {width:27.8rem;}
.find-idpass .box-login .input-password{width:27.8rem;}
.find-idpass .box-login .btn-login {display:flex;justify-content:center;align-items:center;flex-shrink:0;width:14.8rem;font-size:1.8rem;font-weight:600;color:var(--White);border-radius:6px;background:var(--Main-color-01);}
.find-idpass .box-selectfind {display:flex;justify-content: center;gap:3.6rem;;margin:-2.3rem auto 6.3rem;}
.find-idpass .box-selectfind .btn-type1 {width:18rem;height:4rem;font-size:1.6rem;font-weight:400;}
.find-idpass .contain-find {padding:4.4rem 0;border-top:1px solid var(--line-color-01);border-bottom:1px solid var(--line-color-01);}
.find-idpass .contain-find .box-login {margin:0 auto;padding:0;}

.box-leave-infor {display:flex;flex-direction:column;gap:1.2rem;margin:0 auto;width:28rem;}

.box-faq {display:flex;align-items:flex-start;padding:4.2rem 3.4rem 1.6rem 1rem;border-bottom:1px solid var(--line-color-01);}
.box-faq .label {width:9rem;flex-shrink: 0;font-size:2rem;font-weight:500;color:var(--Main-color-01);letter-spacing:-0.08rem;}
.box-faq .detail {font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}

.board-write {padding:0;border-top:2px solid var(--Black);}
.board-write .table-type2 {border-top:none;}
.board-write .table-type2 .th {padding-left:3.5rem;width:14.5rem;border:none;}
.board-write .table-type2 .td {padding-left:0;border:none;}
.requir {display:inline-block;margin-left:.2rem;color:var(--Sub-04);}

.box-attach {display:flex;justify-content:space-between;align-items:center;margin:2rem 0;padding:1.5rem 2.4rem;background-color:var(--Cell-color);border-radius:1rem;}
.box-attach .label {display:flex;align-items:center;width:12rem;height:5rem;flex-shrink:0;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.box-attach .filename {display:flex;align-items:center;width:100%;height:5rem;flex-shrink:1;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}
.box-attach input[type='file'] {position:absolute;width:0;height:0;padding:0;border:none;overflow:hidden;}
.box-attach label {display:flex;justify-content:center;align-items:center;width:15rem;height:5rem;font-size:1.8rem;font-weight:600;color:var(--White);background-color:var(--Main-color-01);border-radius:.6rem;cursor:pointer;}

.box-radio {display:flex;justify-content:flex-start;align-items:center;margin:2rem 0;padding:1.5rem 2.4rem;background-color:var(--Cell-color);border-radius:1rem;}
.box-radio .label {display:flex;align-items:center;width:12rem;height:5rem;flex-shrink:0;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}


.box-checkbox {display:flex;justify-content:flex-start;align-items:center;margin:2rem 0;padding:1.5rem 2.4rem;background-color:var(--Cell-color);border-radius:1rem;}
.box-checkbox .label {display:flex;align-items:center;width:12rem;height:5rem;flex-shrink:0;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;color:var(--Title-color);}

.calendar {overflow:hidden;border-top:2px solid var(--Black);}
.calendar table {margin-top:-1px;width:100%;table-layout:fixed;border-collapse:collapse;}
.calendar th {height:5.2rem;font-size:1.8rem;font-weight:400;color:var(--Text-02-color);text-align:center;border:1px solid var(--line-color-01);}
.calendar td {padding:1rem 1.2rem;text-align:left;vertical-align:top;height:17rem;font-size:1.8rem;color:var(--Text-02-color);border:1px solid var(--line-color-01);}
.calendar th:first-child {color:var(--Sub-04);}
.calendar th:last-child {color:var(--Sub-03);}
.calendar td:first-child {color:var(--Sub-04);}
.calendar td:last-child {color:var(--Sub-03);}
.calendar td.today {border-width:3px;border-color:var(--Sub-03);}
.calendar td .date {display:block;width:100%;}
.calendar td .item {display:block;margin-top:.6rem;padding:.1rem .4rem .2rem;font-size:1.4rem;color:var(--Text-01-color);border-radius:.3rem;background:var(--Table-color);}
.calendar td .disable {color:var(--Text-03-color) !important;}

.contain-button-bottom {display:flex;justify-content:center;gap:2rem;margin-top:4rem;}

.color-point1 {color:var(--Main-color-01) !important;}

.btn-reset {display:flex;flex-shrink:0;align-items:center;margin:0 2rem;font-size:1.8rem;font-weight:500;color:var(--Text-01-color);}
.btn-reset::before {content:'';display:block;width:2rem;height:2rem;background-color:var(--Text-03-color);mask-image:url(../images/icon_reset.svg);mask-repeat:no-repeat;mask-position:50%;}
.btn-type1 {display:flex;justify-content:center;align-items:center;min-width:12rem;height:5rem;font-size:1.8rem;font-weight:600;color:var(--White);background-color:var(--Main-color-01);border-radius:.6rem;}
.btn-type2 {display:flex;justify-content:center;align-items:center;min-width:12rem;height:5rem;font-size:1.8rem;font-weight:600;color:var(--White);background-color:var(--Text-02-color);border-radius:.6rem;}
.link-homepage {background-color:var(--Text-02-color);mask-image:url(../images/icon_home.svg);mask-repeat:no-repeat;mask-position:50%;flex-shrink:0;}


@media (max-width:1495px){

    .input-select {width:100%}
    .btn-type1 {width:100%;}

    .area-header {min-width:auto;background-color:var(--White);background:var(--White);}
    .area-header .area-inner {width:auto;height:6rem;}
    .area-header.on .area-inner {height:6rem;}
    .area-header .logo {left:1.2rem;top:1.2rem;width:16.3rem;height:3.7rem;background-size:auto 3.7rem;}
    .area-header .logo a {padding-left:6.7rem;color:var(--Main-color-01);font-size:1.8rem;letter-spacing:-0.04rem;}
    .area-header .navigation-global{display:none;}    .area-header .box-util-join {display:none;}
    .area-header .box-util-login {margin-top:1.4rem;margin-right:1.2rem;gap:.4rem;}
    .area-header .box-util-login .btn-login {height:3.1rem;font-size:1.4rem;color:var(--White);border-radius:.6rem;background-color:var(--Main-color-01);}
    .area-header .box-util-login .btn-sitemap {width:3.1rem;height:3.1rem;border-radius:.6rem;background-size:1.4rem auto;background-color:var(--Main-color-01);}
    .area-header .box-util-login .btn-sitemap::before {content:'';background-color:var(--White);mask-size:1.4rem auto;}
    
    .area-footer .contain-link-service {flex-direction:column;justify-content:flex-start;align-items:flex-start;padding:1.4rem 0;border-top:1px solid var(--line-color-01);}
    .area-footer .contain-link-service ul {flex-direction:column;gap:.2rem;}
    .area-footer .area-inner {width:auto;padding:2rem 1.7rem;}   
    .area-footer .info-callcenter {flex-wrap:wrap; margin:1.4rem 0;padding:0;}
    .area-footer .info-callcenter .fax {margin-left:0;width:100%;}
    .area-footer .text-address {padding:0;}
    .area-footer .text-copyright {padding:0;}


    .layer-sitemap {}
    .layer-sitemap .sitemap {justify-content:flex-start;}
    .layer-sitemap .sitemap >ul {margin-top:1.8rem;padding-bottom:5rem;flex-direction:column;}
    .layer-sitemap .sitemap >ul >li {margin-top:2.7rem;padding:0 3.7rem;width:auto;border:none;}
    .layer-sitemap .sitemap >ul >li:first-child {border:none;}
    .layer-sitemap .sitemap >ul >li >span {font-size:2rem;}
    .layer-sitemap .sitemap >ul >li >span a {}
    .layer-sitemap .sitemap >ul >li >ul {margin-top:1.3rem;gap:1.3rem;}
    .layer-sitemap .sitemap >ul >li >ul >li {font-size:18rem;}
    .layer-sitemap .sitemap >ul >li >ul >li >a {}
    .layer-sitemap .btn-close-sitemap {right:2.9rem;}

    .area-visual-sub .area-inner {width:auto;height:17.5rem;display:flex;justify-content:center;align-items:center;}
    .area-visual-sub .title {font-size:2rem;letter-spacing:-0.02rem;position:static;margin-top:6rem;}    
    
    .navigation-local {width:100%;overflow:auto;}
    .navigation-local >ul {width:auto;}
    .navigation-local >ul li a {font-size:1.5rem;padding:0 1.1rem 0 1.4rem;height:3.5rem;}    
    .area-content .area-inner {width:auto;padding:3.6rem 1.7rem;}
    .header-content {display:block;margin-bottom:2.6rem;padding-bottom:.5rem;}
    .header-content .box-util {display:none;}
    .header-content .title {font-size:1.8rem;letter-spacing:-0.064rem;}
    
    h4.title {margin-bottom:1rem;font-size:1.8rem;font-weight:500;}

    .contain-option-search {flex-direction:column;padding:1.6rem 1.7rem;gap:.5rem;}
    .contain-option-search .box-option {flex-direction:column;gap:.5rem;}
    .contain-option-search .box-search {position:relative;flex-direction:column;gap:.5rem;}
    .contain-option-search .box-search .btn-reset {position:absolute;left:0;bottom:1rem;width:7rem;margin:0;}
    .contain-option-search .box-search .btn-type1 {width:calc(100% - 10rem);margin-left:10rem;margin-top:1.6rem;}
    
    .box-infor-type1 {margin-bottom:1.8rem;padding:2rem;font-size:1.6rem;}
    .box-infor-type1 .title {margin-bottom:.3rem;font-size:1.6rem;}
    
    .table-type2 {}
    .table-type2 .tr {}
    .table-type2 .th {padding-left:2rem;width:13rem;min-height:5rem;font-size:1.6rem;}
    .table-type2 .td {padding-left:2rem;font-size: 1.6rem;}


    .board-list .table-type1 .thead {display:none;}
    .board-list .table-type1 .tbody .tr {position:relative;display:flex;flex-wrap:wrap;padding:1.2rem 0;}
    .board-list .table-type1 .tbody .tr >div {display:block;margin:0;padding:0;width:100%;height:auto;text-align:left;font-size:1.6rem;}
    .board-list .table-type1 .tbody .tr >div.title {margin:0.7rem 0 1.3rem 0;}
    .board-list .table-type1 .tbody .tr >div.num {width:100%;}
    .board-list .table-type1 .tbody .tr >div.name {width:50%;}
    .board-list .table-type1 .tbody .tr >div.state {width:20%;}
    .board-list .table-type1 .tbody .tr >div.date {width:30%;text-align:right;}
    .board-list .table-type1 .tbody .tr >div.hit {width:20%;text-align:right;}
    .board-list .table-type1 .attached {font-size:1.6rem;}
    .board-list .table-type1 .attached::before {content:'';width:1.8rem;height:2.2rem;mask-size:100%;}
    
    .box-board-head {padding:0 0 1.4rem}

    .board-view {margin-bottom:3rem;border-bottom:none;}
    .board-view .group-head {flex-wrap: wrap;gap:0;padding:0.8rem 0;}
    .board-view .group-head .writer {padding:0;font-size:1.6rem;width:50%;text-align:left;}
    .board-view .group-head .date {padding:0;font-size:1.6rem;width:30%;text-align:right;}
    .board-view .group-head .hit {padding:0;font-size:1.6rem;width:20%;text-align:right;}
    .board-view .group-head .title {margin-bottom:2.4rem;font-size:1.6rem;}
    .board-view .group-detail {padding:1rem 0 1.2rem;}
    .board-view .group-detail .state {font-size:1.6rem;}
    .board-view .group-detail .state .label {font-size:1.6rem;}
    .board-view .group-body {margin-bottom:2rem;padding:1.5rem 0;font-size:1.6rem;}
    .board-view .group-attach {flex-direction:column;justify-content:flex-start;align-items:flex-start;padding:1.7rem 2.2rem 2.1rem;}
    .board-view .group-attach .label {margin-bottom:2.4rem;font-size:1.6rem;}
    .board-view .group-attach .list-files a {font-size:1.6rem;}
    .board-view .group-attach .list-files a::before {content:'';width:1.8rem;height:2.2rem;mask-size:100% auto;}
    .board-view .group-linktopic {display:none;}
    
    .board-write {padding-top:1rem;}
    .board-write .table-type2 {display:block;}
    .board-write .table-type2 .tr {display:block;margin-bottom:1.8rem;}
    .board-write .table-type2 .th {display:block;margin:0 0 1.2rem;padding:0;min-height:auto;font-size:1.6rem;}
    .board-write .table-type2 .td {display:block;margin:0;padding:0;min-height:auto;font-size:1.6rem;}

    .box-attach {flex-direction:column;align-items:flex-end;}
    .box-attach .label {width:100%;height:auto;text-align:left;font-size:1.6rem;}
    .box-attach .filename {margin:2.2rem 0 1.7rem;height:auto;font-size:1.6rem;}

    .contain-button-bottom >a,
    .contain-button-bottom >button {width:100%;flex-shrink:1;}

    .head-group {margin-bottom:1.4rem;padding-bottom:1.4rem;}
    .head-group .title {margin-bottom:1rem;font-size:1.8rem;text-align:left;}
    .head-group .text {font-size:1.5rem;text-align:left;font-weight:500;}

    .box-leave-infor {margin:-5rem 0 -2rem;width:auto;}

    .box-selectmember {flex-direction:column;}
    .box-selectmember .item p {width:auto;text-align:left;font-size:2rem;}
    .box-selectmember label {width:auto;height:10rem;justify-content: flex-end;}
    .box-selectmember label i {margin:0;width:12rem;justify-content:flex-start;}
    .box-selectmember input {}
    .box-selectmember label:has(:checked) {}
    .box-selectmember label::before {left:0;top:0;width:100%;height:100%;mask-position:6rem 50%;}
    .box-selectmember label + label::before {}
    .box-selectmember label + label + label::before {}
    .box-selectmember label + label + label + label::before {}
    .box-selectmember label:has(:checked)::before {}


    .login {}
    .login .head{margin-bottom:1.4rem;padding-bottom:1.4rem;}
    .login .head .title{margin-bottom:1rem;font-size:1.8rem;text-align:left;}
    .login .head .text{font-size:1.5rem;text-align:left;font-weight:500;}
    .login .box-text-infor{margin-bottom:1.4rem;padding-bottom:1.4rem;}
    .login .box-text-infor li{font-size:1.6rem;text-align:left;}
    .login .box-selectmember{margin-bottom:1rem;}
    .login .box-selectmember label {padding:1.6rem;width:calc(50% - .7rem);height:15.6rem;font-size:1.6rem;}
    .login .box-selectmember label i {height:4.6rem;}
    .login .box-selectmember input{}
    .login .box-selectmember label:has(:checked){}
    .login .box-selectmember label::before{top:3rem;}
    .login .box-selectmember label + label::before{}
    .login .box-selectmember label + label + label::before{}
    .login .box-selectmember label + label + label + label::before{}
    .login .box-selectmember label:has(:checked)::before{}
    .login .box-login{flex-direction:column;width:auto;padding-bottom:3rem;}
    .login .box-login label{font-size:2rem;}
    .login .box-login label strong{font-size:3.2rem;}
    .login .box-login .box-input{}
    .login .box-login .input-id{width:auto;}
    .login .box-login .input-password{width:auto;}
    .login .box-login .btn-login{width:auto;height:5rem;}
    .login .box-util{position:relative;flex-direction:column;gap:0;padding-top:3rem;padding-bottom:5rem;border-bottom:none;}
    .login .box-util .item{margin-bottom:2.5rem;}
    .login .box-util .item .text{margin-bottom:.9rem;font-size:1.6rem;}
    .login .box-util .item .btn-type1{height:40px;}
    .login .box-util .item .text-infor{position:absolute;left:0;bottom:0;font-size:1.6rem;}
    .login .box-util .item .text-infor >span {display:block;}

    .join {}
    .join .head {margin-bottom:1.4rem;padding-bottom:1.4rem;}
    .join .head .title {margin-bottom:1rem;font-size:1.8rem;text-align:left;}
    .join .head .text {font-size:1.5rem;text-align:left;font-weight:500;}
    .join .box-text-infor {margin-bottom:1.4rem;padding-bottom:1.4rem;}
    .join .box-text-infor .text-type1 {font-size:1.6rem;text-align:left;}
    .join .box-text-infor .text-type1 strong {}
    .join .box-text-infor .text-type2 {font-size:1.6rem;text-align:left;}
    .join .box-selectmember {flex-direction:column;}
    .join .box-selectmember .item p {width:auto;text-align:left;font-size:2rem;}
    .join .box-selectmember label {width:auto;height:10rem;justify-content: flex-end;}
    .join .box-selectmember label i {margin:0;width:12rem;justify-content:flex-start;}
    .join .box-selectmember input {}
    .join .box-selectmember label:has(:checked) {}
    .join .box-selectmember label::before {left:0;top:0;width:100%;height:100%;mask-position:6rem 50%;}
    .join .box-selectmember label + label::before {}
    .join .box-selectmember label + label + label::before {}
    .join .box-selectmember label + label + label + label::before {}
    .join .box-selectmember label:has(:checked)::before {}

    .find-idpass {}
    .find-idpass .head {margin-bottom:1.4rem;padding-bottom:1.4rem;}
    .find-idpass .head .title {margin-bottom:1rem;font-size:1.8rem;text-align:left;}
    .find-idpass .head .text {font-size:1.5rem;text-align:left;font-weight:500;}
    .find-idpass .box-selectmember {flex-direction:column;gap:.9rem;margin-bottom:1.4rem;}
    .find-idpass .box-selectmember .item p {}
    .find-idpass .box-selectmember label {width:auto;height:10rem;justify-content: flex-end;}
    .find-idpass .box-selectmember label i {margin:0;width:12rem;justify-content:flex-start;}
    .find-idpass .box-selectmember input {}
    .find-idpass .box-selectmember label:has(:checked) {}
    .find-idpass .box-selectmember label::before {left:0;top:0;width:100%;height:100%;mask-position:6rem 50%;}
    .find-idpass .box-selectmember label + label::before {}
    .find-idpass .box-selectmember label + label + label::before {}
    .find-idpass .box-selectmember label + label + label + label::before {}
    .find-idpass .box-selectmember label:has(:checked)::before {}
    .find-idpass .box-login {flex-direction:column;width:auto;padding-bottom:3rem;}
    .find-idpass .box-login label {font-size:2rem;}
    .find-idpass .box-login label strong {font-size:3.2rem;}
    .find-idpass .box-login .box-input {}
    .find-idpass .box-login .input-id {width:auto;}
    .find-idpass .box-login .input-password{width:auto;}
    .find-idpass .box-login .btn-login {width:auto;height:5rem;}
    .find-idpass .box-selectfind {margin:0 auto 1.5rem;gap:1.6rem;}
    .find-idpass .box-selectfind .btn-type1 {width:calc(50% - .8rem)}
    .find-idpass .contain-find {padding:1.4rem 0;}
    .find-idpass .contain-find .box-login {}

 
    

  }
