.tab-head {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tab-level1 {
  background-color: #f0f8ff;
}
.tab-level2 {
  background-color: #fff5e1;
}
.tab-level3 {
  background-color: #f8e1ff;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background: #eee;
    outline: none;
    transition: all 0.2s ease;
}

button.active {
  background: #42b983;
  color: white;
  outline: none;
}

.tab-body {
  position: relative; // dimmed를 위한 필수 조건
  border-top: 2px solid #ddd;
  padding: 0;
}

