@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* Setting */
:root {
  
  font-size: 10px;

  /* BackGround color */
  --Main-color-01 : #0174bd;
  --Main-color-02 : ##0AA4B4;
  --Main-color-03 : ##6ED34A;
  --Sub-01 : #0940A1;
  --Sub-02 : #0C2F80;
  --Sub-03 : #3DB5FF;
  --Title-color : #202632;
  --Text-01-color : #333D4B;
  --Text-02-color : #4E5968;
  --Text-03-color : #7C8A9F;

  --BG-color : #F5F6F7;
  
  --Table-color : #E9EEF9;
  --line-color-01 : #CBD5E1;
  --line-color-02 : #7C8A9F;

  --Cell-color : #F6F9FF;
  --Bar-color : #AABFE4;

  --White : #FFF;
  --Black : #000;


}

html {-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;}
html, body {margin:0;padding:0;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0;box-sizing:border-box;}
body {font-weight:300;font-size:1.2rem;color:var(--Text-01-color);font-family:'Noto Sans KR', sans-serif;}
table {width:100%;border:0;border-spacing:0;border-collapse:collapse;}
table caption,
form legend{visibility:hidden;width:0;height:0;line-height:0;font-size:0;}
button::-moz-focus-inner {padding:0;border:0;}
button, input[type=submit], input[type=reset], input[type=button] {overflow:visible; margin:0; padding:0; cursor:pointer; border:0; background:transparent;outline:none;}
input[type=checkbox] {-webkit-appearance:checkbox;}
input[type=image]{vertical-align:top;}
input, select, textarea, button {font-family:'Noto Sans KR', sans-serif; font-size:1.2rem; border-radius:0;outline:none;}
ol, li {list-style:none;}
img, fieldset {border:none; vertical-align:top;}
hr {display:none;}
i, em, address, cite {font-style:normal;}
strong {font-weight:700;}

a{color:var(--Text-01-color);outline:none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:none;}
a:active {text-decoration:none;}

/* form */
form {display:block;border:none;}
fieldset {margin:0;padding:0;border:none;}
input {padding-top:.2rem;vertical-align:middle;border:none;}
input[type~="text"] {border:1px solid var(--line-color-01);}
input[type~="password"] {border:1px solid var(--line-color-01);}
input[type~="file"] {border:1px solid var(--line-color-01);}
input[type~="checkbox"] {border:none;margin:-.1rem 0;}
input[type~="radio"] {border:none;margin:-.1rem 0;}
select {font-size:1.2rem; vertical-align:middle;}
textarea {border:1px solid var(--line-color-01);}
.input-select {display:inline-block;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle; border:1px solid var(--line-color-01); position:relative; height:3.8rem;background:var(--Main-color-01); }
.input-select:after {content:''; position:absolute; right:1.2rem; top:50%; margin-top:-.3rem; width:.9rem; height:.5rem; background:url(../images/img_uparrow_form_select.png) 0 0 no-repeat; background-size:100%;}
.input-select select {display:inline-block;position:relative;z-index:1;width:100%;box-sizing:border-box; padding:0 6rem 0 1rem; border:0; height:3.6rem; background:none; -webkit-appearance: none; -moz-appearance: none; appearance: none; color:var(--Text-01-color); font-size:1.2rem; cursor:pointer; outline:none;vertical-align:middle;}
.input-select select::-ms-expand {display:none;}
.input-text {display:inline-block;vertical-align:middle;}
.input-text input {display:block;width:100%;height:3.4rem;text-indent:1rem;line-height:3.6rem;border:1px solid var(--line-color-01);}
.input-password {display:inline-block;vertical-align:middle;}
.input-password input {display:block;width:100%;height:3.4rem;text-indent:1rem;line-height:3.6rem;border:1px solid var(--line-color-01);}
.input-file {display:inline-block;vertical-align:middle;}
.input-file input {display:block;width:100%;height:3.4rem;text-indent:1em;line-height:3.6rem;border:1px solid var(--line-color-01);}
.input-checkbox {display:inline-block;position:relative;vertical-align:middle;min-width:2rem;height:2rem;line-height:2.4rem;}
.input-checkbox input[type='checkbox'] {display:inline-block;margin:-.4rem 0 0 0;width:2rem;height:2rem;}
.input-checkbox::before {content:'';display:block;position:absolute;left:0;top:0;width:1.8rem;height:1.8rem;border:1px solid var(--line-color-01);}
.input-radio {display:inline-block;position:relative;vertical-align:middle;min-width:2rem;height:2rem;line-height:2.4rem;margin:0 1rem 0 0;font-size:1.2rem;font-weight:500;}
.input-radio input[type='radio'] {margin:-.1rem 0 0 0;width:2rem;height:2rem;}
.input-radio::before {content:'';display:block;position:absolute;left:0;top:0;width:1.8rem;height:1.8rem;}


/* Link Style */
a {color:var(--Text-01-color);text-decoration:none;}


/* Layout */
.area-header {position:absolute;left:0;top:0;width:100%;overflow:hidden;z-index: 10;}
.area-header::before {content:'';display:block;position:absolute;left:0;top:10.1rem;width:100%;height:1px;background-color:var(--line-color-01);}
.area-header .area-inner {position:relative;display:flex;justify-content:flex-end;align-items: flex-start;margin:0 auto;width:149.5rem;height:10rem;}
.area-header .logo {position:absolute;left:0;top:1.4rem;width:28.4rem;height:7.3rem;overflow:hidden;background:url(../images/img_logo_header.png) no-repeat 50%;}
.area-header .logo a {display:flex;align-items:center;position:absolute;left:0;top:0;padding:0 0 0 13.4rem;width:100%;height:100%;font-size:2.8rem;font-weight:700;letter-spacing:-0.056rem;color:var(--White);box-sizing:border-box;}
.area-header .box-util-join {display:flex;margin-left: 2rem;margin-top: 3.3rem;}
.area-header .box-util-join .btn-join {display:flex;justify-content center;align-items:center;height:3.8rem;color:var(--White);font-size:1.5rem;font-weight:500;letter-spacing: -0.03rem;}
.area-header .box-util-join .btn-join::before {content:'';display:inline-block;width:2rem;height:2rem;background:url(../images/btn_join_header.png) no-repeat 50%;}
.area-header .box-util-join .btn-scrap {display:flex;justify-content:center;align-items:center;height:3.8rem;color:var(--White);font-size:1.5rem;font-weight:500;letter-spacing: -0.03rem;}
.area-header .box-util-join .btn-scrap::before {content:'';display:inline-block;width:2rem;height:2rem;background:url(../images/btn_scrap_header.png) no-repeat 50%;}
.area-header .box-util-login {display:flex;gap:1rem;margin-left: 3rem;margin-top: 3.3rem;}
.area-header .box-util-login .btn-login {display:flex;justify-content:center;align-items:center;font-size:1.6rem;font-weight:500;width:7.4rem;height:3.8rem;background-color:var(--White);border-radius:1.2rem;}
.area-header .box-util-login .btn-sitemap {display:flex;justify-content:center;align-items:center;width:3.8rem;height:3.8rem;overflow:hidden;text-indent:-100rem;background:url(../images/btn_sitemap_header.png) no-repeat 50%;}

.area-header.on {background:var(--Main-color-01);}
.area-header.on .area-inner {height:37.7rem;}

.navigation-global {margin-top:3.7rem;}
.navigation-global >ul {display:flex;gap:4rem;}
.navigation-global >ul >li {position:relative;}
.navigation-global >ul >li >span {display:block;}
.navigation-global >ul >li >span a {white-space:nowrap;font-size:2rem;font-weight:600;color:var(--White);letter-spacing:-0.04rem;}
.navigation-global >ul >li >ul {display:flex;flex-direction:column;gap:1.8rem;margin-top: 4.8rem;width:100%;}
.navigation-global >ul >li >ul >li {}
.navigation-global >ul >li >ul >li >a {display:block;font-size:1.8rem;font-weight:500;color:var(--Text-02-color);}

.area-footer {}
.area-footer .area-inner {position:relative;margin:0 auto;padding:2rem 0;width:129rem;}
.area-footer .contain-link-service {display:flex;justify-content:space-between;align-items:center;padding: 2rem .9rem;border-bottom:1px solid var(--line-color-01);}
.area-footer .contain-link-service ul {display:flex;gap:2.6rem;}
.area-footer .contain-link-service ul li {}
.area-footer .contain-link-service ul li a {display:block;font-size:1.5rem;font-weight:500;color:var(--Text-02-color);}
.area-footer .contain-link-service ul li:first-child a {color:var(--Main-color-01);}
.area-footer .contain-link-service .btn-serviceall {}
.area-footer .contain-link-service .btn-serviceall a {display:flex;font-size:1.5rem;font-weight:500;color:var(--Text-02-color);}
.area-footer .contain-link-service .btn-serviceall a strong {font-weight:500;color:var(--Black);}
.area-footer .contain-link-service .btn-serviceall a::after {content:'';display:block;margin-left:2rem;width:2.8rem;height:2.4rem;background:#ccc;}

.area-footer .info-callcenter {display:flex;margin:3rem 0;padding: 0 .9rem;font-size:1.5rem;color:var(--Text-02-color);}
.area-footer .info-callcenter strong {font-weight:500;}
.area-footer .info-callcenter .tel {margin-left:0.5rem;font-weight:400;}
.area-footer .info-callcenter .fax {margin-left:2rem;font-weight:400;}
.area-footer .text-address {padding:0 .9rem;font-size:1.5rem;font-weight:500;color:var(--Text-02-color);}
.area-footer .text-copyright {margin-top:0.9rem;padding:0 .9rem;font-size:1.4rem;font-weight:500;color:var(--Text-03-color);}

.area-visual-sub {background:var(--Main-color-01);}
.area-visual-sub .area-inner {position:relative;margin:0 auto;width:129rem;height:28rem;}
.area-visual-sub .title {position:absolute;left:0;top:17rem;font-size:3.6rem;font-weight:700;line-height:5rem;letter-spacing:-0.036rem;color:var(--White);}

.navigation-local {background:var(--Main-color-01);}
.navigation-local >ul {display:flex;;margin:0 auto;width:129rem;}
.navigation-local >ul li {}
.navigation-local >ul li a {display:flex;justify-content:center;align-items:center;padding:0 4.2rem 0 2.9rem;height:7rem;font-size:2rem;font-weight:500;color:var(--White);}
.navigation-local >ul li a::before {content:'';display:inline-block;margin-right:1rem;width:.4rem;height:.4rem;border-radius:100%;background-color:var(--White);}
.navigation-local >ul li.on a {color:var(--Title-color);background:var(--White);}
.navigation-local >ul li.on a::before {content:'';background:var(--Title-color);}

.area-content {}
.area-content .area-inner {margin:0 auto;padding:7.2rem 0;width:129rem;height:50rem;}

.header-content {display:flex;justify-content:space-between;margin-bottom:6rem;padding-bottom:2.2rem;border-bottom:1px solid var(--line-color-01);}
.header-content .title {font-size:32px;font-weight:500;letter-spacing:-.128rem;color:var(--Title-color);}
.header-content .box-util {position:relative;display:flex;align-items:center;}
.header-content .box-util::after {content:'';display:block;position:absolute;right:4.6rem;top:1.3rem;width:1px;height:20px;background:var(--line-color-01);}
.header-content .box-util a,
.header-content .box-util button {display:block;width:2.8rem;height:2.8rem;overflow:hidden;text-indent:-100rem;background:#ccc;}
.header-content .box-util .btn-home {margin-right:2.5rem;}
.header-content .box-util .btn-share {margin-left:3rem;}
.header-content .box-util .btn-print {margin-left:3.5rem;}
.header-content .box-util .box-fontsize {display:flex;align-items:center;}
.header-content .box-util .box-fontsize .label {display:flex;align-items:center;margin-right:1.9rem;font-size:1.6rem;font-weight:500;color:var(--Text-02-color);}
.header-content .box-util .box-fontsize .label::before {content:'';display:inline-block;margin-right:1rem;width:.4rem;height:.4rem;border-radius:100%;background-color:var(--Text-02-color);}
.header-content .box-util .box-fontsize .btn-fontbig {margin-right:2.2rem;background:#e4e9e4;border-radius:100%;}
.header-content .box-util .box-fontsize .btn-fontsmall {background:#e4e9e4;border-radius:100%;}




.board-list {display:table;width:100%;border-collapse:collapse;border-top:2px solid var(--Black);}
.board-list .thead {display:table-header-group;}
.board-list .thead .tr {display:table-row;}
.board-list .thead .tr >div {display:table-cell;padding:2.5rem 1rem 1.9rem;box-sizing:border-box;height:7rem;text-align:center;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;border-bottom:1px solid var(--line-color-01);background-color:var(--Cell-color)}
.board-list .tbody {display:table-row-group;}
.board-list .tbody .tr {display:table-row;}
.board-list .tbody .tr >div {display:table-cell;padding:2.3rem 1rem 2.1rem;box-sizing:border-box;height:7rem;text-align:center;font-size:1.8rem;font-weight:400;letter-spacing:-0.072rem;border-bottom:1px solid var(--line-color-01);background-color:var(--White);}
.board-list .col-1 {width:100%;}
.board-list .col-2 {width:90%;}
.board-list .col-3 {width:80%;}
.board-list .col-4 {width:70%;}
.board-list .col-5 {width:60%;}
.board-list .col-6 {width:50%;}
.board-list .col-7 {width:40%;}
.board-list .col-8 {width:30%;}
.board-list .col-9 {width:20%;}
.board-list .col-10 {width:10%;}
.board-list .tbody .tr .title {padding-left:2rem;text-align:left;}

.paginate {display:flex;justify-content:center;gap:3rem;margin-top:4.2rem;}
.paginate a {display:inline-flex;justify-content:center;align-items:center;width:3rem;height:3rem;font-size:1.6rem;font-weight:400;letter-spacing:-0.064rem;background-color:var(--BG-color);}
.paginate span {display:flex;justify-content:center;gap:.8rem;}
.paginate a.btn-paging-first {overflow:hidden;text-indent:-100rem;background:transparent url(../images/btn_paging_first.png) no-repeat 50%;}
.paginate a.btn-paging-prev {overflow:hidden;text-indent:-100rem;background:transparent url(../images/btn_paging_prev.png) no-repeat 50%;}
.paginate a.btn-paging-next {overflow:hidden;text-indent:-100rem;background:transparent url(../images/btn_paging_next.png) no-repeat 50%;}
.paginate a.btn-paging-last {overflow:hidden;text-indent:-100rem;background:transparent url(../images/btn_paging_last.png) no-repeat 50%;}



