@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Layout */
.area-header {}
.area-header .area-inner {position:relative;width:1920px;}
.area-header .logo {overflow:hidden;text-indent:-1000px;background:url(images/img_logo_header.png) no-repeat 50%;}
.area-header .box-util-join {display:flex;}
.area-header .box-util-join .btn-join {}
.area-header .box-util-join .btn-join::before {content:'';display:inline-block;width:20px;height:20px;background:url(images/btn_join.png) no-repeat 50%;}
.area-header .box-util-join .btn-scrap {}
.area-header .box-util-join .btn-scrap::before {content:'';display:inline-block;width:20px;height:20px;background:url(images/btn_join.png) no-repeat 50%;}
.area-header .box-util-login {display:flex;}
.area-header .box-util-login .btn-login {}
.area-header .box-util-login .btn-sitemap {background:url(images/btn_sitemap.png) no-repeat 50%;}

.navigation-global {}
.naivgation-global >ul {display:flex;background:red;}
.naivgation-global >ul >li {width:100px;}
.naivgation-global >ul >li >span {display:block;}
.naivgation-global >ul >li >ul {display:flex;flex-direction:column;}
.naivgation-global >ul >li >ul >li {}
.naivgation-global >ul >li >ul >li >span {display:block;}

.area-visual-sub {}

.navigation-local {}

.board-list {display: table;}
.board-list .thead {display: table-header-group;}
.board-list .thead .tr {display: table-column;}
.board-list .thead .tr >div {display: table-cell;}
.board-list .tbody {display: table-column-group;}
.board-list .tbody .tr {display: table-column;}
.board-list .tbody .tr >div {display: table-cell;}
